@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    background: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color:#8973f5;
}

.left-login-img{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(244, 244, 244);
    border-radius: 20px;
    box-shadow: 0px 10px 40px -12px rgb(226, 226, 226);
}

.card-login > h1 {
    color:#8973f5;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(230, 230, 230);
    color: rgb(75, 67, 84);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(226, 226, 226);
    box-sizing: border-box;
}

.textfield > input::placeholder{
    color: rgb(66, 66, 66);
}

.textfield-cadastro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    font-size: 12px;
}

.textfield-cadastro > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 12px;
    background: rgb(230, 230, 230);
    color: rgb(75, 67, 84);
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(226, 226, 226);
    box-sizing: border-box;
}

.textfield-cadastro > input::placeholder{
    color: rgb(66, 66, 66);
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: antiquewhite;
    background: #8973f5;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(180, 180, 180);
}

.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    color: antiquewhite;
    background: #8973f5;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(180, 180, 180);
}

p{
    color: rgb(66, 66, 66);
    text-align: center;
}

a{
    color:#8973f5;
    margin-left: 10px;
}


@media only screen and (max-widt:950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-widt:600px){
    .main-login{
        flex-direction: column;
    }

    .left-login >h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }

    .right-login{
        width: 100%;
        height: auto;
    }

    .left-login-img{
        width: 50vw;
    }

    .card-login{
        width: 90%;

    }
}
